* {
    margin: 0;
}
.min-image {
    max-height: 110px;
}
.image {
    /*    border: 1px solid white;*/
    border-radius: 12px;
}
body {
    position: relative;
}
.image-gallery {
    margin: 10px;
}
.div-orig {

    position: absolute;
    width: 100%;
    min-height: 98vh;
    opacity: 1;
    background: rgba(20,20,20,0.8);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.div-img {
    position: relative;
    /*    border: 2px solid green;*/
}
.prev, .next {
    /*    border: 2px solid red;*/
    position: relative;
    font-size: 60px;
    text-decoration: none;
    font-weight: 900;
    padding: 1%;
    color: white;
    z-index: 20;
    cursor: pointer;
    opacity: 0.05;
}
.prev:hover, .next:hover {opacity: 1;}
.prev {left: 1%;}
.next {right: 1%;}
.orig-image {
    position: relative;
    align-self: center;
    max-width: 85%;
    max-height: 90vh;
}
.div-img {
    position: relative;
    display: flex;
    flex-direction: column;
}
.close {
    position: relative;
    align-self: center;
    font-size: 30px;
    padding: 0% 5% 2%;
    text-decoration: none;
}
.close:hover {
    border: 2px solid rgba(20,20,20,0.9);
}