.userBase input {
    width: 100px;
}
.userBase table {
    border-collapse: collapse;
    text-align: center;
}
.userBase th, .userBase td {
    border:  1px solid black;
    height: 15px;
    min-width: 105px;
}
.userBase thead {
    background: #D8E6F3;
}
.userBase input {
    background: #DFEFFE;
}


    