#input{
    margin-left: 20px;
    font-size: 16px;
}
.line-through {
    text-decoration: line-through;
}
#list li {
    user-select: none;
    font-size: 20px;
    margin-bottom: 10px;
}
.delete-li {
    font-size: 14px;
    margin-left: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    text-decoration: none;
    color: darkblue;
}
.delete-li:hover {
    color: blue;
}
#toDoList {
    border: 1px solid grey;
    padding: 20px 10px;
}
#toDoList p {
    margin-left: 20px;
    font-size: 20px;
}